export(actors)
export(add_eventscale)
export(codes)
export(filter_actors)
export(filter_codes)
export(filter_time)
export(make_dyads)
export(make_scale)
export(map_actors)
export(map_codes)
export(one_a_day)
export(plot_dyad)
export(read_eventdata)
export(read_keds)
export(scale_codes)
export(scale_coverage)
export(score)
export(scrub_keds)
export(sources)
export(spotter)
export(targets)
S3method(summary,eventdata)
S3method(summary,eventscale)
